#!/bin/sh

# Aliases
alias du="du -h" # Always show sizes in a human readable format
alias up="sudo apt update && sudo apt upgrade -y && sudo apt autoremove -y" # Upgrade and clean
alias lsp="stat -c '%a %n' *" # Print the numeric access rights to all objects in a folder
alias ls="eza"
alias cat="batcat"
alias pa-restart="pulseaudio -k && pulseaudio --start" # Restart pulseaudio
alias untar="tar -xavf" # Extract tar files based on their file extension
alias mine="sudo chown $USER:$USER" # Make a object yours
alias localip='ip addr show | sed -n "/\(wl.\+\|en.\+\)state UP/,/valid_lft/p" | rg inet | rg -o "([0-9]{1,3}\.*){4}" | head -n 1' # Print ip of your machine on the local network
alias cdf='cd ~/ && cd $(rg --hidden --files --null | xargs -0 dirname | uniq | fzf)'
alias \?="alias | rg"
alias \?s="alias | fzf | sed \"s/=.*'//g\""
alias notes="nvim $HOME/Documents/notes/2025"

alias vim='nvim'
alias evim='vim ~/Code/dotfiles/init.lua'

# Git
alias gacp='git add -A && git commit -m "no message" && git pull && git push' # Git add, commit, pull and push because sometimes I can't be bothered
alias gc='git checkout $(git branch | fzf)'
alias guntracked='git status --porcelain=v1 | awk "{ print \$2 }"'
alias gdiff='cat --diff --diff-context=5 $(guntracked | fzf -m)'
alias gadd='git add $(guntracked | fzf -m)'

# Docker
alias dstart='docker start $(docker ps --all --filter status=exited --format "{{.Names}}" | fzf -m)'
alias dstop='docker stop $(docker ps --format "{{.Names}}" | fzf -m)'
alias drestart='docker restart $(docker ps --format "{{.Names}}" | fzf -m)'
alias dremove='docker rm $(docker ps --filter status=exited --format "{{.Names}}" | fzf -m)'
alias dexec='docker exec -it $(docker ps --format "{{.Names}}" | fzf) bash'
alias dlogs='docker logs -f -n 100 $(docker ps --all --format "{{.Names}}" | fzf)'
alias dkill='docker kill $(docker ps --format "{{.Names}}" | fzf -m)'
alias dps='docker ps --format="table {{.ID}}\t{{.Names}}\t{{.Status}}"'

# Kubernetes
alias select-aws='aws eks update-kubeconfig --region eu-central-1 --name $(echo "oaky-staging-v3\noaky-production-v3" | fzf)'
alias select-k8s-env='K8S_ENV=$(echo "accp-1\naccp-2\naccp-3\naccp-4\naccp-5\n" | fzf)'
alias select-k8s-pod='select-k8s-env && K8S_POD=$(kubectl get po -n $K8S_ENV --no-headers -o custom-columns=":metadata.name" | fzf)'
alias kube-ps='select-k8s-env && kubectl get po -n $K8S_ENV'
alias kube-get='select-k8s-env && kubectl get po -n $K8S_ENV'
alias kube-exec='select-k8s-pod && kubectl exec -it $K8S_POD -n $K8S_ENV -- /bin/sh'
alias kube-logs='select-k8s-pod && kubectl logs -n $K8S_ENV $K8S_POD'

# Oaky
alias po='cd $HOME/Code/oaky/$(ls $HOME/Code/oaky | fzf)'
