#!/bin/zsh

AG="ag --silent --hidden"

alias ags="$AG"
alias agf="$AG -g"
alias du="du -h"
alias pa="php artisan"
alias up="sudo apt update && sudo apt upgrade -y && sudo apt autoremove -y"
alias ofzf='xdg-open "$(fzf)"'
alias dmenu='dmenu -i -fn "Roboto Mono for Powerline-11"'
alias i3e="i3-msg exit"
